<!-- Contact -->
<section class="page-section" id="contact">
    <div class="container">
        <!-- Contact Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase mb-0">Contact Me</h2>
        <!-- Icon Divider-->
        <div class="icon">
            <i class="fa-solid fa-star fa-flip fa-2xl" style="color: #2c3e50;"></i>
        </div>
        <!-- Contact Section Form-->
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <form>
                    <div class="floating-label-form-group  mb-0 pb-2">
                        <label>Email address</label>
                        <input type="email" class="form-control" placeholder="Name">
                    </div>

                    <div class="floating-label-form-group  mb-0 pb-2">
                        <label>Email address</label>
                        <input type="email" class="form-control" placeholder="Email Address">
                    </div>
                    <div class="floating-label-form-group  mb-0 pb-2">
                        <label>Email address</label>
                        <input type="email" class="form-control" placeholder="Phone Number">
                    </div>
                    <div class="floating-label-form-group controls mb-0 pb-2">
                        <label>Message</label>
                        <textarea class="form-control" id="message" rows="5" placeholder="Message" required="required"
                            data-validation-required-message="Please enter a message." aria-invalid="false"></textarea>
                        <p class="help-block text-danger"></p>
                    </div>

                    <div class="m-3"> <button class="button-5" role="button">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>